body {
    margin: 0 !important;
    padding: 0 !important;
}

.hidden-logo {
    display: none;
}

.sticky-header {
    background: #fff !important;
    box-shadow: 0 2px 6px #5e5e5e99;
}

body.home .custom-header-container a {
    color: #fff;
}

body.home .custom-header-container .btn-header a {
    background: #fff !important;
    color: #1aabec !important;
}

body.home .custom-header-container img {
    transition: all 0.3s ease-in-out;
    filter: brightness(0) invert(1);
}

body.home .sticky-header img {
    filter: none !important;
}

body.home .sticky-header .menu-item a {
    color: #000 !important;
}

body.home .sticky-header .btn-header a {
    background: #1aabec !important;
    color: #fff !important;
}

body.page-terms-of-use .custom-header-container a {
    color: #fff;
}

body.page-terms-of-use .custom-header-container .btn-header a {
    background: #fff !important;
    color: #1aabec !important;
}

body.page-terms-of-use .custom-header-container img {
    transition: all 0.3s ease-in-out;
    filter: brightness(0) invert(1);
}

body.page-terms-of-use .sticky-header img {
    filter: none !important;
}

body.page-terms-of-use .sticky-header .menu-item a {
    color: #000 !important;
}

body.page-terms-of-use .sticky-header .btn-header a {
    background: #1aabec !important;
    color: #fff !important;
}

body.page-privacy-policy .custom-header-container a {
    color: #fff;
}

body.page-privacy-policy .custom-header-container .btn-header a {
    background: #fff !important;
    color: #1aabec !important;
}

body.page-privacy-policy .custom-header-container img {
    transition: all 0.3s ease-in-out;
    filter: brightness(0) invert(1);
}

body.page-privacy-policy .sticky-header img {
    filter: none !important;
}

body.page-privacy-policy .sticky-header .menu-item a {
    color: #000 !important;
}

body.page-privacy-policy .sticky-header .btn-header a {
    background: #1aabec !important;
    color: #fff !important;
}
