.custom-oembed-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.custom-oembed-item {
    cursor: pointer;
    flex: 0 0 18%;
    max-width: 18%;
}
.custom-video-container {
    max-width: 65%;
    margin: 2rem auto 0;
}
.custom-video-container iframe {
    width: 100%;
    min-height: 525px;
}
.custom-form-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.custom-pricing-range-selector {
    margin-bottom: 3rem;
    text-align: right;
}
.custom-pricing-range-selector .custom-pricing-range-helper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 0.9rem;
}
.custom-pricing-range-selector .custom-pricing-range-helper .label {
    margin: 0 5px;
}
.custom-pricing-range-selector .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.custom-pricing-range-selector .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.custom-pricing-range-selector .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00c5ff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.custom-pricing-range-selector .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.custom-pricing-range-selector input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.custom-pricing-range-selector .slider.round {
    border-radius: 34px;
}
.custom-pricing-range-selector .slider.round:before {
    border-radius: 50%;
}
.custom-pricing-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.button-filter {
    text-align: center;
    margin-bottom: 2rem;
}
.button-filter .filter-swap {
    background: #000;
    padding: 12px 25px;
    border-radius: 30px;
    color: #fff !important;
    margin: 0 5px;
}
.button-filter .active {
    background: #00c5ff;
}
.hidden-item {
    display: none;
}
.custom-pricing-item {
    flex: 0 0 32%;
    max-width: 340px;
}
.custom-pricing-item .wrapper {
    position: relative;
    background: #f3f3f3;
    box-shadow: 1px 1px 6px #cbcbcb;
    min-height: 75vh;
    border-radius: 5px;
    padding: 1rem 1.5rem 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    border: 2px solid transparent;
    border-top: 8px solid #000;
}
.custom-pricing-item .wrapper .text {
    font-size: 0.9rem;
    line-height: 1.7rem;
}
.custom-pricing-item .wrapper .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.custom-pricing-item .wrapper .price .price-text {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: #000;
}
.custom-pricing-item .wrapper .price .price-saving {
    text-align: right;
    font-size: 0.9rem;
}
.custom-pricing-item .wrapper .price .price-saving p {
    margin: 0;
}
.custom-pricing-item .wrapper .button {
    position: absolute;
    bottom: 12px;
    left: 15px;
    width: 91%;
}
.custom-pricing-item .wrapper .button a {
    background: #00c5ff;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease-in-out;
}
.custom-pricing-item .wrapper .button a:hover {
    background: #000;
    color: #fff;
}
.custom-pricing-item .wrapper .features {
    font-size: 0.9rem;
    line-height: 1.7rem;
}
.custom-pricing-item .wrapper .features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.popular {
    transform: scale(1.05) !important;
}
.popular-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #00c5ff;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.popular .wrapper {
    padding-top: 3rem;
    border: 2px solid #00c5ff;
    border-top: 8px solid #00c5ff;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}
.custom-button-effect .elementor-button-icon {
    animation: fadeIn 0.5s infinite alternate;
}
