.testimonials-widget-component .container .test-wrapper {
	font-size: 2rem;
	line-height: 2.7rem;
	max-width: 800px;
	margin: 0 auto;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: column;
}

.testimonials-widget-component .slick-arrow {
	border: 0;
	background: transparent !important;
	color: transparent !important;
}

.testimonials-widget-component .slick-arrow:hover {
	border: 0;
	background: transparent !important;
	color: transparent !important;
}

.testimonials-widget-component .slick-next:before,
.testimonials-widget-component .slick-prev:before {
	font-size: 40px;
}

.testimonials-widget-component .container .test-wrapper p {
	position: relative;
}

.testimonials-widget-component .container .test-wrapper p::before {
	content: '"';
	position: absolute;
	display: inline-block;
	font-size: 8rem;
	color: #00c5ff;
	top: 24px;
	left: -80px;
}

.testimonials-widget-component .container .test-wrapper p::after {
	content: '"';
	display: inline-block;
	font-size: 8rem;
	color: #00c5ff;
	line-height: 0;
	vertical-align: bottom;
}

.testimonials-widget-component .container .test-wrapper h3 {
	text-align: right;
	font-size: 1.3rem;
	font-weight: 400;
	margin-top: 3rem;
	align-self: flex-end;
}

@media (max-width: 767px) {
    .testimonials-widget-component .container .test-wrapper {
        font-size: 1rem;
        line-height: 2.7rem;
        padding: 0 4rem;
    }
}


